<div class="border border-gray-300 min-h-96    p-0 md:w-[530px] h-[283] w-full  md:h-[420px] md:p-2 shadow-md rounded-xl">
  <h1
    class="text-[20px] mt-4 text-center font-medium leading-8 tracking-tight text-carbon"
    id="tier-team"
  >
    {{ title }}
  </h1>

  <p
    class="text-[12px] mt-2 md:mt-4 mb-4 px-4 md:text-[12px] font-medium lg:leading-2 text-center text-carbon"
  >
    {{ description }}
  </p>
  <div class="flex flex-1 flex-col justify-between  px-6 md:px-8 rounded-2xl p-2">
    <ul role="list" class="space-y-4 mt-4">
      @for (item of items; track $index) {
      <li class="flex flex-row">
        <div class="flex-shrink-0 mt-4 px-1 md:px-4">
          <svg
            class="h-3 w-8 text-green-600"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="3"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4.5 12.75l6 6 9-13.5"
            ></path>
          </svg>
        </div>
        <p class="text-[12px] font-medium lg:text-[14px] text-carbon">{{ item }}</p>
      </li>

      }
    </ul>
  </div>
</div>
