<footer class="bg-black text-white">
  <div class="lg:py-10 py-6 border-t border-[#dcdcdc]">
    <div class="container p-4">
      <div class="grid lg:grid-cols-12 gap-6">
        <div class="lg:col-span-3">
          <div class="">
            <img src="/my-logo.png" alt="logo" class="h-24 md:ps-4" />

            <div class="flex flex-wrap items-center gap-2">
              <a
                href="https://www.facebook.com/Asapstudies?mibextid=LQQJ4d"
                target="_blank"
                class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"
                ><i class="fa fa-facebook text-2xl"></i
              ></a>
              <a
                href="https://www.instagram.com/asapstudies?igsh=d2N3dG44MGtqcWJk&utm_source=qr"
                target="_blank"
                class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"
                ><i class="fa fa-instagram text-2xl"></i
              ></a>
              <a
                href="https://www.linkedin.com/in/asap-studies-0878aa27b"
                target="_blank"
                class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"
                ><i class="fa fa-linkedin text-2xl"></i
              ></a>
              <a
                href="javascript:void(0);"
                class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"
                ><i class="bi bi-tiktok text-lg"></i></a>
            </div>
          </div>
        </div>
        <!-- end grid-col -->

        <div class="lg:col-span-6">
          <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-6 mb-6">
            <div class="flex quick-links flex-col gap-3">
              <p class="mb-3 font-normal">Quick Links</p>
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/about"
                >About</a
              >
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/about"
                >Team</a
              >
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/long-term-tutoring"
                >Long term tutoring</a
              >
            </div>
            <!-- end grid-col -->
            <div class="flex quick-links flex-col gap-3">
              <p class="mb-3 font-normal">Company</p>
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/about"
                >Terms and conditions</a
              >
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/about"
                >Privacy Policy</a
              >
              <a
                class="hover:text-primaryColor font-extralight"
                routerLink="/blog"
                >Contact us</a
              >
            </div>

            <!-- end grid-col -->
          </div>
          <!-- end grid -->
        </div>
        <!-- end grid-col -->

        <div id="links" class="lg:col-span-3">
          <div class="flex flex-col gap-3">
            <div
              class="w-full flex flex-col space-y-4 justify-center items-center"
            >
              <p class="mb-3 font-normal">Get the App</p>
              <a href="https://apps.apple.com/us/app/asap-studies/id6471437660">
                <img src="./store/apple.png" height="50" width="150" />
              </a>
              <a
                href="https://play.google.com/store/apps/details?id=com.asapstudies.app&pcampaignid=web_share"
              >
                <img
                  class="border border-white rounded-sm"
                  src="./store/google.png"
                  height="50"
                  width="150"
                />
              </a>
            </div>
          </div>
          <!-- end flex -->
        </div>
        <!-- end grid-col -->
      </div>
      <!-- end grid -->
    </div>

    <div>
      <p class="text-center hidden md:block lg:text-md font-extralight text-sm">
        Privacy Terms © All Rights Reserved. - Academic Special Assistant Portal
        2024
      </p>

      <!-- end grid-col -->
    </div>
    <!-- end conteiner -->
  </div>

  <!-- end flex -->
</footer>
