<footer class="bg-[#020202] text-white">
  <div class="lg:py-10 py-6 border-t  border-[#dcdcdc]">
      <div class="container p-4">
          <div class="grid lg:grid-cols-12 gap-6">
              <div class="lg:col-span-3">
                  <div class="">
                      <img src="/logo.png" alt="logo" class="h-20">
                      <p class="my-4">Connect with use on social our social media platforms</p>
                      <div class="flex flex-wrap items-center gap-2">
                          <a href="https://www.facebook.com/Asapstudies?mibextid=LQQJ4d" target="_blank" class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl bg-primaryColor rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"><i class="fa fa-facebook text-2xl"></i></a>
                          <a href="https://www.instagram.com/asapstudies?igsh=d2N3dG44MGtqcWJk&utm_source=qr" target="_blank" class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl bg-primaryColor rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"><i class="fa fa-instagram text-2xl"></i></a>
                          <a href="https://www.linkedin.com/in/asap-studies-0878aa27b" target="_blank" class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl bg-primaryColor rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"><i class="fa fa-linkedin text-2xl"></i></a>
                          <a href="javascript:void(0);" class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl bg-primaryColor rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"><i class="fa fa-twitter text-2xl"></i></a>
                          <a href="javascript:void(0);" class="h-10 w-10 inline-flex items-center justify-center backdrop-blur-2xl bg-primaryColor rounded transition-all duration-500 text-default-700 hover:bg-carbon text-white"><i class="fa fa-youtube text-2xl"></i></a>
                      </div>
                  </div>
              </div><!-- end grid-col -->

              <div class="lg:col-span-6">
                  <div class="grid md:grid-cols-3 sm:grid-cols-2 gap-6 mb-6">
                     


                      <div class="flex flex-col gap-3">
                        <p class="mb-3 font-semibold uppercase">Quick Links</p>
                        <a class="hover:text-primaryColor" routerLink="/about">About</a>
                        <a class="hover:text-primaryColor" routerLink="/about">Team</a>
                        <a class="hover:text-primaryColor" routerLink="/blog">News</a>
                    </div><!-- end grid-col -->

                    <div class="flex flex-col gap-3">
                        <p class="mb-3 font-semibold uppercase">Support</p>
                        <a class="hover:text-primaryColor" routerLink="/contact-us">Help Center</a>
                        <a class="hover:text-primaryColor" routerLink="/terms-and-conditions">Terms &amp; Condition</a>
                        <a class="hover:text-primaryColor" routerLink="/privacy-policies">Privacy Policy</a>
                    </div><!-- end grid-col -->
                  </div><!-- end grid -->
              </div><!-- end grid-col -->

              <div class="lg:col-span-3">
                  <div class="flex flex-col gap-3">
                      <p class="mb-3 font-semibold uppercase">Download our app</p>
                      <div class="flex flex-col items-start gap-2">
                          <a href="https://apps.apple.com/us/app/asap-studies/id6471437660" target="_blank" class="md:w-3/4 inline-flex items-center justify-center gap-3 px-4 py-2 md:px-8 md:py-3 bg-carbon rounded transition-all duration-200 hover:bg-carbon text-white">
                              <img src="/apple.svg" alt="" class="h-10 w-10">
                              <span>
                                  <span class="block text-xs">Download now</span>
                                  <span class="block">App Store</span>
                              </span>
                          </a>
                          <a target="_blank" href="https://play.google.com/store/apps/details?id=com.asapstudies.app&pcampaignid=web_share" class="md:w-3/4 inline-flex items-center justify-center gap-3 px-4 py-2 md:px-8 md:py-3 bg-carbon rounded transition-all duration-200 hover:bg-carbon text-white">
                              <img src="/playstore.svg" alt="" class="h-10 w-10">
                              <span>
                                  <span class="block text-xs">Download now</span>
                                  <span class="block">App Store</span>
                              </span>
                          </a>
                      </div>
                  </div><!-- end flex -->
              </div><!-- end grid-col -->
          </div><!-- end grid -->
      </div><!-- end conteiner -->
  </div>

  <div class="py-6 border-t border-default-200">
      <div class="container">
              <div>
                  <p class="text-center">
                    Privacy   Terms © All Rights Reserved. - Academic Special Assistant Portal 2024
                  </p>
              </div><!-- end grid-col -->
      </div><!-- end flex -->
  </div><!-- end flex -->
</footer>