<div class="container">
  <h1 class="font-bold text-carbon">Terms And Conditions</h1>
  <p>Last updated August 25, 2023</p>

  <p>
    This terms and conditions for Academic Special Assistant Portal ("we," "us,"
    or "our"), describes how and why we might collect, store, use, and/or share
    ("process") your information when you use our services ("Services"), such as
    when you:
  </p>
  <ul>
    <li>
      Visit our website at
      <a href="http://www.asapstudies.com">http://www.asapstudies.com</a>, or
      any website of ours that links to this terms and conditions
    </li>
    <li>
      Download and use our mobile application (ASAP Studies), or any other
      application of ours that links to this terms and conditions
    </li>
    <li>
      Engage with us in other related ways, including any sales, marketing, or
      events
    </li>
  </ul>

  <p>
    Questions or concerns? Reading this terms and conditions will help you
    understand your privacy rights and choices. If you do not agree with our
    policies and practices, please do not use our Services. If you still have
    any questions or concerns, please contact us at
    <a href="http://www.asapstudies.com">http://www.asapstudies.com</a>.
  </p>

  <h2>SUMMARY OF KEY POINTS</h2>
  <p>
    This summary provides key points from our terms and conditions, but you can
    find out more details about any of these topics by clicking the link
    following each key point or by using our table of contents below to find the
    section you are looking for.
  </p>
  <ul>
    <li *ngFor="let title of sectionTitles; let i = index">
      <a (click)="scrollTo(i + 1)">{{ title }}</a>
    </li>
  </ul>

  <section id="section1">
    <h2>1. WHAT INFORMATION DO WE COLLECT?</h2>
    <p>Personal information you disclose to us</p>
    <p>In Short: We collect personal information that you provide to us.</p>
    <p>
      We collect personal information that you voluntarily provide to us when
      you register on the Services, express an interest in obtaining information
      about us or our products and Services when you participate in activities
      on the Services, or otherwise when you contact us.
    </p>
    <p>
      <strong>Sensitive Information.</strong> We do not process sensitive
      information.
    </p>
    <p>
      <strong>Payment Data.</strong> We may collect data necessary to process
      your payment if you make purchases, such as your payment instrument
      number, and the security code associated with your payment instrument. All
      payment data is stored by Paystack.
    </p>
    <p>
      You may find their terms and conditions link(s)
      <a
        href="https://paystack.com/privacy/merchant#:~:text=Paystack%20does%20not%20sell%2 C%20trade,described%20in%20this%20Privacy%20Policy"
        >here</a
      >.
    </p>
    <p>
      <strong>Application Data.</strong> If you use our application(s), we also
      may collect the following information if you choose to provide us with
      access or permission:
    </p>
    <ul>
      <li>
        <strong>Geolocation Information.</strong> We may request access or
        permission to track location-based information from your mobile device,
        either continuously or while you are using our mobile application(s), to
        provide certain location-based services. If you wish to change our
        access or permissions, you may do so in your device's settings.
      </li>
      <li>
        <strong>Mobile Device Access.</strong> We may request access or
        permission to certain features from your mobile device, including your
        mobile device's storage, social media accounts, SMS messages, sensors,
        reminders, microphone, camera, calendar, and other features. If you wish
        to change our access or permissions, you may do so in your device's
        settings.
      </li>
      <li>
        <strong>Mobile Device Data.</strong> We automatically collect device
        information (such as your mobile device ID, model, and manufacturer),
        operating system, version information and system configuration
        information, device and application identification numbers, browser type
        and version, hardware model Internet service provider and/or mobile
        carrier, and Internet Protocol (IP) address (or proxy server). If you
        are using our application(s), we may also collect information about the
        phone network associated with your mobile device, your mobile device’s
        operating system or platform, the type of mobile device you use, your
        mobile device’s unique device ID, and information about the features of
        our application(s) you accessed.
      </li>
      <li>
        <strong>Push Notifications.</strong> We may request to send you push
        notifications regarding your account or certain features of the
        application(s). If you wish to opt-out from receiving these types of
        communications, you may turn them off in your device's settings.
      </li>
    </ul>
    <p>
      This information is primarily needed to maintain the security and
      operation of our application(s), for troubleshooting, and for our internal
      analytics and reporting purposes. All personal information that you
      provide to us must be true, complete, and accurate, and you must notify us
      of any changes to such personal information.
    </p>
    <p><strong>Information automatically collected</strong></p>
    <p>
      In Short: Some information — such as your Internet Protocol (IP) address
      and/or browser and device characteristics — is collected automatically
      when you visit our Services.
    </p>
    <p>
      We automatically collect certain information when you visit, use, or
      navigate the Services. This information does not reveal your specific
      identity (like your name or contact information) but may include device
      and usage information, such as your IP address, browser and device
      characteristics, operating system, language preferences, referring URLs,
      device name, country, location, information about how and when you use our
      Services, and other technical information. This information is primarily
      needed to maintain the security and operation of our Services and for our
      internal analytics and reporting purposes.
    </p>
    <p><strong>Information collected from other sources</strong></p>
    <p>
      In Short: We may collect limited data from public databases, marketing
      partners, and other outside sources.
    </p>
    <p>
      In order to enhance our ability to provide relevant marketing, offers, and
      services to you and update our records, we may obtain information about
      you from other sources, such as public databases, joint marketing
      partners, affiliate programs, data providers, and from other third
      parties. This information includes mailing addresses, job titles, email
      addresses, phone numbers, intent data (or user behaviour data), Internet
      Protocol (IP) addresses, social media profiles, social media URLs, and
      custom profiles, for purposes of targeted advertising and event promotion.
    </p>
  </section>

  <section id="section2">
    <h2>2. HOW DO WE PROCESS YOUR INFORMATION?</h2>
    <p>
      In Short: We process your information to provide, improve, and administer
      our Services, communicate with you, for security and fraud prevention, and
      comply with the law. We may also process your information for other
      purposes with your consent.
    </p>
    <p>
      We process your personal information for a variety of reasons, depending
      on how you interact with our Services, including:
    </p>
    <ul>
      <li>
        <strong>To facilitate account creation and authentication</strong> and
        otherwise manage user accounts. We may process your information so you
        can create and log in to your account, as well as keep your account in
        working order.
      </li>
      <li>
        <strong>To request feedback.</strong> We may process your information
        when necessary to request feedback and to contact you about your use of
        our Services.
      </li>
      <li>
        <strong>To send you marketing and promotional communications.</strong>
        We may process the personal information you send to us for our marketing
        purposes if this is in accordance with your marketing preferences. You
        can opt out of our marketing emails at any time. For more information,
        see "WHAT ARE YOUR PRIVACY RIGHTS?" below.
      </li>
      <li>
        <strong>To deliver targeted advertising to you.</strong> We may process
        your information to develop and display personalized content and
        advertising tailored to your interests, location, and more.
      </li>
      <li>
        <strong>To protect our Services.</strong> We may process your
        information as part of our efforts to keep our Services safe and secure,
        including fraud monitoring and prevention.
      </li>
      <li>
        <strong>To identify usage trends.</strong> We may process information
        about how you use our Services to better understand how they are being
        used so we can improve them.
      </li>
      <li>
        <strong
          >To determine the effectiveness of our marketing and promotional
          campaigns.</strong
        >
        We may process your information to better understand how to provide
        marketing and promotional campaigns that are most relevant to you.
      </li>
      <li>
        <strong>To save or protect an individual's vital interest.</strong> We
        may process your information when necessary to save or protect an
        individual’s vital interest, such as to prevent harm.
      </li>
    </ul>
  </section>

  <section id="section3">
    <h2>3. DO WE RECEIVE ANY INFORMATION FROM THIRD PARTIES?</h2>
    <p>In Short: We may receive information about you from other sources.</p>
    <p>
      We may receive information about you from other sources, such as
      third-party services, and combine that information with the information we
      collect through our Services. We do not control, supervise, or respond for
      how the third-party services process your personal information and any
      information requested by them is governed by their privacy policies.
    </p>
  </section>

  <section id="section4">
    <h2>4. HOW DO WE PROCESS YOUR INFORMATION?</h2>
    <p>
      In Short: We process your information for various purposes, including to
      provide, improve, and administer our Services, communicate with you, and
      comply with the law.
    </p>
    <p>
      We process your personal information for a variety of reasons, including
      to:
    </p>
    <ul>
      <li>Facilitate account creation and authentication</li>
      <li>Request feedback and contact you</li>
      <li>Send you marketing and promotional communications</li>
      <li>Deliver targeted advertising to you</li>
      <li>Protect our Services</li>
      <li>Identify usage trends</li>
      <li>Determine the effectiveness of marketing campaigns</li>
      <li>Save or protect an individual's vital interest</li>
    </ul>
  </section>

  <section id="section5">
    <h2>
      5. IN WHAT SITUATIONS AND WITH WHICH PARTIES DO WE SHARE PERSONAL
      INFORMATION?
    </h2>
    <p>
      In Short: We share personal information with service providers,
      affiliates, and other parties in specific situations.
    </p>
    <p>We may share your personal information in the following situations:</p>
    <ul>
      <li>
        <strong>With Service Providers:</strong> We may share your personal
        information with third-party service providers who perform services on
        our behalf, such as payment processing, data analysis, email delivery,
        hosting services, customer service, and marketing assistance.
      </li>
      <li>
        <strong>With Affiliates:</strong> We may share your information with our
        affiliates, in which case we will require those affiliates to honor this
        terms and conditions.
      </li>
      <li>
        <strong>With Business Partners:</strong> We may share your information
        with our business partners to offer you certain products, services, or
        promotions.
      </li>
      <li>
        <strong>With Other Users:</strong> When you share personal information
        or otherwise interact with public areas of our Services, such
        information may be viewed by all users and may be publicly distributed
        outside the Services in perpetuity.
      </li>
      <li>
        <strong>With Your Consent:</strong> We may disclose your personal
        information for any other purpose with your consent.
      </li>
      <li>
        <strong>For Legal Reasons:</strong> We may share your personal
        information when we believe such disclosure is necessary to comply with
        a legal obligation, protect our rights, investigate fraud, or protect
        your vital interests or the vital interests of another person.
      </li>
    </ul>
    <p>
      We do not sell, trade, or rent your personal information to third parties.
    </p>
  </section>
  <section id="section6">
    <h2>6. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</h2>
    <p>
      In Short: We may transfer, store, and process your information in
      countries other than your own.
    </p>
    <p>
      If you are accessing our Services from outside the United States, please
      be aware that your information may be transferred to, stored, and
      processed by us in our facilities and by third parties with whom we may
      share your personal information (see "IN WHAT SITUATIONS AND WITH WHICH
      PARTIES DO WE SHARE PERSONAL INFORMATION?" above), in other countries.
    </p>
  </section>

  <section id="section7">
    <h2>7. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
    <p>
      In Short: We keep your information for as long as necessary to fulfill the
      purposes outlined in this terms and conditions unless otherwise required
      by law.
    </p>
    <p>
      We will only keep your personal information for as long as it is necessary
      for the purposes set out in this terms and conditions, unless a longer
      retention period is required or permitted by law (such as tax, accounting,
      or other legal requirements).
    </p>
  </section>

  <section id="section8">
    <h2>8. HOW DO WE KEEP YOUR INFORMATION SAFE?</h2>
    <p>
      In Short: We aim to protect your personal information through
      organizational and technical security measures.
    </p>
    <p>
      We have implemented appropriate and reasonable technical and
      organizational security measures designed to protect the security of any
      personal information we process. However, no method of transmission over
      the internet or method of electronic storage is completely secure, and we
      cannot guarantee absolute security. You should only access the Services
      within a secure environment.
    </p>
  </section>

  <section id="section9">
    <h2>9. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
    <p>
      In Short: You have rights that allow you greater access to and control
      over your personal information.
    </p>
    <p>
      Depending on your location, you may have certain rights regarding your
      personal information, such as the right to request access to,
      rectification or erasure of your personal information, and the right to
      object to or restrict certain types of processing. You can make such
      requests by contacting us using the contact details provided below. If you
      are located in the European Economic Area, the United Kingdom, or Canada,
      you may also have the right to lodge a complaint with a supervisory
      authority.
    </p>
  </section>

  <section id="section10">
    <h2>10. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
    <p>In Short: We currently do not respond to Do-Not-Track signals.</p>
    <p>
      Most web browsers and some mobile operating systems and applications
      include a Do-Not-Track ("DNT") feature or setting you can activate to
      signal your privacy preference not to have data about your online browsing
      activities monitored and collected. At present, no uniform technology
      standard for recognizing and implementing DNT signals has been finalized.
      As a result, we do not currently respond to DNT browser signals or any
      other mechanism that automatically communicates your choice not to be
      tracked online.
    </p>
  </section>

  <section id="section11">
    <h2>11. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h2>
    <p>
      In Short: Yes, if you are a resident of California, you are granted
      specific rights regarding access to your personal information.
    </p>
    <p>
      If you are a California resident, you have the right to request certain
      information about the personal information we have collected about you
      over the past 12 months. To make such a request, please contact us using
      the contact details provided below. California residents also have the
      right to request the deletion of their personal information, subject to
      certain exceptions.
    </p>
  </section>

  <section id="section12">
    <h2>12. DO WE MAKE UPDATES TO THIS NOTICE?</h2>
    <p>
      In Short: Yes, we will update this notice as necessary to stay compliant
      with relevant laws.
    </p>
    <p>
      We may update this terms and conditions from time to time to reflect
      changes in our practices or for other operational, legal, or regulatory
      reasons. The updated version will be effective as soon as it is
      accessible. We encourage you to review this terms and conditions
      frequently to stay informed about how we are protecting your information.
    </p>
  </section>

  <section id="section13">
    <h2>13. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
    <p>
      If you have questions or comments about this terms and conditions, you may
      contact us by email at
      <a href="mailto:info@asapstudies.com">{{ "info@asapstudies.com" }}</a> or
      by post at:
    </p>
    <p>
      Academic Special Assistant Portal<br />
      653 West Edger Linden, NJ 07036<br />
      United States
    </p>
  </section>

  <section id="section14">
    <h2>
      14. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?
    </h2>
    <p>
      <strong
        >You have the right to request access to the personal information we
        collect from you, change that information, or delete it.</strong
      >
      To request to review, update, or delete your personal information, please
      visit:
      <a href="http://www.asapstudies.com">http://www.asapstudies.com</a>.
    </p>
  </section>
</div>
