<nav
  class="relative flex w-full p-2 flex-wrap items-center justify-between bg-white"
  data-twe-navbar-ref
>
  <div class="flex w-full flex-wrap items-center  px-3">
    <button
      (click)="openSideBar()"
      class="block border-0 focus:ring-0 dark:text-neutral-200 lg:hidden"
    >
      <!-- Hamburger icon -->
      <span
        class="[&>svg]:w-7 [&>svg]:stroke-black text-black"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </button>
    <div class="w-48 ms-14 flex justify-center ">
      <a
        class="mx-2 my-1 flex items-center lg:mb-0 lg:mt-0"
        [routerLink]="['/', 'home']"
      >
        <img height="150" width="200" class="md:w-52 md:h-12 w-[140px] h-[40px]  " ngSrc="/logo.png" loading="lazy" />
      </a>
    </div>

    <!-- Hamburger button for mobile view -->

    <!-- Collapsible navbar container -->
    <div
      class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent4"
      data-twe-collapse-item
    >
      <!-- Left links -->
      <ul
        class="list-style-none me-auto space-x-4 flex flex-col ps-0 lg:mt-1 lg:flex-row"
        data-twe-navbar-nav-ref
      >
        <!-- Home link -->
      </ul>
      <ul
        class="list-style-none space-x-6 me-auto flex flex-col ps-0 lg:flex-row"
        data-twe-navbar-nav-ref
      >
        <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
          <!-- Dashboard link -->
          <a
            routerLinkActive="active"
            [routerLink]="['/home']"
            class="text-gray-800 transition duration-200 text-lg"
            href="#"
            data-twe-nav-link-ref
            >Home</a
          >
        </li>

        <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
          <!-- Dashboard link -->
          <a
            routerLinkActive="active"
            [routerLink]="['/', 'about']"
            class="text-gray-800 transition duration-200 text-lg"
            href="#"
            data-twe-nav-link-ref
            >About Us</a
          >
        </li>

        <li class="mb-4 lg:mb-0 lg:pe-2" data-twe-nav-item-ref>
          <!-- Dashboard link -->
          <a
            routerLinkActive="active"
            [routerLink]="['/', 'contact-us']"
            class="text-gray-800 transition duration-200 text-lg"
            href="#"
            data-twe-nav-link-ref
            >Contact Us</a
          >
        </li>
      </ul>

      <div class="flex items-center">
        <a
          [routerLink]="['/long-term-tutoring']"
          type="button"
          data-twe-ripple-init
          data-twe-ripple-color="light"
          class="me-3 bg-carbon rounded-full inline-block bg-primary px-6 pb-2 pt-2.5 text-sm font-medium text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none active:shadow-primary-2 motion-reduce:transition-none hover:cursor-pointer hover:bg-primaryColor"
        >
          Long Term Tutoring
        </a>
      </div>
    </div>
  </div>

  <div
    [ngClass]="showSidebar ? 'left-64' : 'left-0'"
    class="hs-overlay text-carbon lg:hidden hs-overlay-open:translate-x-10 -translate-x-full fixed top-0 transition-all transform h-full max-w-[270px] w-full z-[60] bg-white shadow-md"
    tabindex="-1"
  >
    <div
      class="flex justify-center items-center h-20 transition-all duration-300 relative"
    >
      <a href="javascript:;" (click)="showSidebar = false">
        <img src="/logo.png" alt="logo" class="h-10" />
      </a>
      <p
        class="text-xl font-extrabold text-primaryColor align-middle me-2 absolute right-1 cursor-pointer"
        (click)="showSidebar = !showSidebar"
      >
        x
      </p>
    </div>

    <div class="custom-scroll h-[calc(100%-4rem)]">
      <nav class="hs-accordion-group p-4 w-full flex flex-col flex-wrap">
        <ul class="space-y-2.5">
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm font-medium text-default-700 rounded-md hover:bg-default-400/10"
              routerLink="/"
            >
              Home
            </a>
          </li>
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm font-medium text-default-700 rounded-md hover:bg-default-400/10"
              routerLink="/about"
            >
              About us
            </a>
          </li>

          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm font-medium text-default-700 rounded-md hover:bg-default-400/10"
              routerLink="/contact-us"
            >
              Contact Us
            </a>
          </li>
          <li>
            <a
              class="flex items-center gap-x-3.5 py-2 px-2.5 text-sm font-medium text-default-700 rounded-md hover:bg-default-400/10"
              routerLink="long-term-tutoring"
            >
              Long-term Tutoring
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
