<section class=" mt-6 md:mt-12 relative">
  <div class="px-4 md:px-12 mt-40 ">
    <div class="grid lg:grid-cols-2 items-center gap-20 px-2 md:px-20">
      <div>
        <p
          class="text-md md:text-[24px]  text-center lg:text-left underline text-primaryColor  font-semibold text-default-700 mb-6"
        >
          Expert Tutors at your service 24/7
        </p>

        <p class="text-center text-sm lg:text-[16px] md:leading-7  lg:text-left text-carbon mb-6">
          At ASAP Studies, we pride ourselves on offering top-tier academic
          support. Our experienced tutors are specialists in a wide range of
          subjects, ready to provide detailed explanations, personalized
          guidance, and assignment assistance. Whether it's tackling complex
          problems or mastering new concepts, we're here to help you achieve
          your goals. Start your academic journey with ASAP Studies today.
          Together, we'll achieve excellence!
        </p>
      </div>
      <div class="md:ps-10">
        <div>
          <img ngSrc="/asap-helps.png" alt="" width="408" height="408" />
        </div>
        
      </div>
    </div>
  </div>
</section>
