<section class="lg:py-32 p-12 relative">
  <div class="container">
    <div class="grid lg:grid-cols-2 items-center gap-10">
      <div>
        <p class="text-3xl/snug md:text-4xl/snug font-semibold text-default-700 mb-6">
          How
          <span class="relative text-primaryColor">ASAP</span>
          helps you
        </p>

        <p class="text-lg mb-6">
          Easily connect with all the learning resources you need to solve your
          hardest homework questions and score top marks on your exams
        </p>

        <ul class="text-base space-y-4 mb-8 hidden">
          <li>
            <i
              class="fa fa-check text-xl text-primaryColor align-middle me-2"
            ></i>
            volutpat elementum.
          </li>
          <li>
            <i
              class="fa fa-check text-xl text-primaryColor align-middle me-2"
            ></i>

            Aliquam ac est at augue.
          </li>
          <li>
            <i
              class="fa fa-check text-xl text-primaryColor align-middle me-2"
            ></i>

            Quisque nec enim eget sapien molestie.
          </li>
        </ul>

        <a href="javascript:;"
          class="inline-flex px-8 py-2.5 text-sm bg-primaryColor hover:bg-carbon text-white rounded-md hover:bg-primary-500 transition-all duration-300"
        >
          Learn More
        </a>
      </div>
      <div>
        <img src="/about-us-2.png" alt="" />
      </div>
    </div>
  </div>
</section>