<section class="lg:pt-16 p-6 ">
  <div class="container lg:mx-4">
    <div class="grid lg:grid-cols-2 gap-10">
      <div>
        <p
          class="text-4xl text-carbon md:text-6xl  font-medium  mb-6"
        >
          Contact Us
        </p>
        <div
          class="relative bg-carbon rounded-md lg:rounded-xl overflow-hidden my-6 h-[250px] md:h-auto"
        >
          <img
            src="/contact.jpg"
            alt=""
            class="md:max-w-full md:h-full hidden md:block"
          />

          <div class="absolute inset-0 ">
            <div class="flex items-end h-full w-full">
              <div
                class="inline-block bg-black/40 backdrop-blur-xl p-6 rounded-tr-xl"
              >
                <div class="flex items-center  gap-4 mb-6">
                  <span
                    class="inline-flex items-center justify-center h-10 w-10 bg-primary-500 text-white rounded-lg"
                  >
                    <i class="fa fa-map text-xl"></i>
                  </span>
                  <span class="grow text-base text-white font-medium max-w-xs"
                    >Academic Special Assistant Portal, 653 West Edger Rd,
                    Linden, NJ
                  </span>
                </div>
                <div class="flex items-center gap-4 mb-6">
                  <span
                    class="inline-flex items-center justify-center h-10 w-10 bg-primary-500 text-white rounded-lg"
                  >
                    <i class="fa fa-phone text-xl"></i>
                  </span>
                  <span class="grow text-base text-white font-medium">
                    <span class="block">+233207704494</span>
                  </span>
                </div>
                <div class="flex items-center gap-4 mb-6">
                  <span
                    class="inline-flex items-center justify-center h-10 w-10 bg-primary-500 text-white rounded-lg"
                  >
                    <i class="fa fa-envelope text-xl"></i>
                  </span>
                  <span class="grow text-base text-white font-medium">
                    <span class="block">{{ "info@asapstudies.com" }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end grid-col -->

      <div class="shadow-md rounded-md  p-1 h-fit">
        <form [formGroup]="formData" (ngSubmit)="submit()" class="text-carbon">
          <div class="p-8">
            <p class="text-xl font-medium mb-2">Get In touch</p>
            <p class="text-base mb-6">
              Feel free to reach out to us if you have any inquiries or
              require clarification
            </p>

            <div class="grid grid-cols-2 gap-4">
              <div class="col-span-2 md:col-span-1 space-y-2">
                <label class="text-sm font-medium" for="f_name"
                  >First Name</label
                >
                <input
                  formControlName="first_name"
                  id="f_name"
                  class="form-control border  border-carbon block w-full rounded-none py-2.5 px-4 text-sm focus:outline-none"
                  type="text"
                  placeholder="First name..."
                />
              </div>
              <div class="col-span-2 md:col-span-1 space-y-2">
                <label class="text-sm font-medium" for="l_name"
                  >Last Name</label
                >
                <input
                  formControlName="last_name"
                  id="l_name"
                  class="form-control block w-full py-2.5 px-4 text-sm focus:outline-none border border-carbon"
                  type="text"
                  placeholder="Last name..."
                />
              </div>
              <div class="col-span-2 md:col-span-1 space-y-2">
                <label class="text-sm font-medium" for="EmailAddress"
                  >Email</label
                >
                <input
                  formControlName="email"
                  id="EmailAddress"
                  class="form-control block w-full  py-2.5 px-4 text-sm focus:outline-none border border-carbon"
                  type="email"
                  placeholder="Email Address"
                />
              </div>
              <div class="col-span-2 md:col-span-1 space-y-2">
                <label class="text-sm font-medium" for="l_name">Phone</label>
                <input
                  formControlName="phone"
                  id="phone"
                  class="form-control block w-full  py-2.5 px-4 text-sm focus:outline-none border border-carbon"
                  type="text"
                  placeholder="(123) 456 7890"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label class="text-sm font-medium" for="subject">Subject</label>
                <input
                  formControlName="subject"
                  id="subject"
                  class="form-control block w-full py-2.5 px-4 text-sm focus:outline-none border border-carbon"
                  type="email"
                  placeholder="Message Subject"
                />
              </div>
              <div class="col-span-2 space-y-2">
                <label class="text-sm font-medium" for="message"
                  >Message (Optional)</label
                >
                <textarea
                  id="message"
                  formControlName="message"
                  class="form-control block w-full rounded-sm py-2.5 px-4 text-sm focus:outline-none border border-carbon"
                  rows="5"
                  type="text"
                  placeholder="Message Brief"
                ></textarea>
              </div>
            </div>

            <div class="flex justify-end mt-6">
              <button
                type="Submit"
                class="inline-flex bg-carbon items-center justify-center gap-2 px-8 py-2.5 rounded lg:text-lg bg-dark text-white capitalize transition-all duration-300 ease-in-out transform hover:bg-primary-500 hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 active:scale-95 active:bg-gray-700 active:opacity-80"
              >
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- end grid-col -->
    </div>
    <!-- end grid -->
  </div>
  <!-- end container -->
</section>
<section class="lg:p-24 p-4">
  <div class="rounded-lg overflow-hidden">
    <iframe
      class="w-full h-[500px] overflow-hidden"
      src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569"
      frameborder="0"
    ></iframe>
  </div>
</section>
