<section class="">
  <div class="p-8">
    <div class="grid lg:grid-cols-2 gap-2 max-w-full">
      <div class="text-carbon">
        <p class="text-2xl leading-tight md:text-4xl font-bold mb-4">
          Long Term Tutoring
        </p>
        <div class="max-w-2xl mb-4">
          <h4 class="mb-2">
            Long-Term Live tutoring focuses on flexible learning options,
            allowing students to learn at their own pace and schedule. This is
            particularly beneficial for working professionals, individuals with
            busy schedules, or those who prefer self-paced learning.
          </h4>
        </div>

        <div class="relative rounded-xl overflow-hidden my-6">
          <img
            src="/young-student.png"
            width="500"
            height="400"
            alt=""
            class="max-w-full h-full"
          />
        </div>
      </div>
      <!-- end grid-col -->

      <div class="bg-white rounded-lg h-fit border-1">
        <div class="">
          
          <form>
            <!-- Name Field -->
            <div class="mb-4">
              <label
                for="name"
                class="block text-gray-600 text-sm font-medium mb-1"
                >Name</label
              >
              <input
                type="text"
                id="name"
                name="name"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                placeholder="Your name"
              />
            </div>

            <!-- Email Field -->
            <div class="mb-4">
              <label
                for="email"
                class="block text-gray-600 text-sm font-medium mb-1"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                placeholder="Your email"
              />
            </div>

            <!-- Password Field -->
            <div class="mb-4">
              <label
                for="password"
                class="block text-gray-600 text-sm font-medium mb-1"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                placeholder="Your password"
              />
            </div>
            <div class="mb-4">
              <!-- Select -->
              <select
                multiple=""
                
                data-hs-select='{
  "placeholder": "Select multiple options...",
  "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
  "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 :bg-neutral-900 :border-neutral-700 :text-neutral-400 :focus:outline-none :focus:ring-1 :focus:ring-neutral-600",
  "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 :[&::-webkit-scrollbar-track]:bg-neutral-700 :[&::-webkit-scrollbar-thumb]:bg-neutral-500 :bg-neutral-900 :border-neutral-700",
  "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 :bg-neutral-900 :hover:bg-neutral-800 :text-neutral-200 :focus:bg-neutral-800",
  "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-blue-600 :text-blue-500 \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
  "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 :text-neutral-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
}'
                class="hidden "
              >
                <option value="">Choose</option>
                <option>Sunday</option>
                <option>Monday</option>
                <option>Tuesday</option>
                <option>Wendnesday</option>
                 <option>Thursday</option>
                <option>Friday</option>
                <option>Saturday</option>
              </select>
              <!-- End Select -->
            </div>
            <lib-country-list></lib-country-list>
            <!-- Confirm Password Field -->
            <div class="mb-4">
              <label
                for="confirmPassword"
                class="block text-gray-600 text-sm font-medium mb-1"
                >Confirm Password</label
              >
              <input
                type="password"
                id="confirmPassword"
                name="confirmPassword"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                placeholder="Confirm your password"
              />
            </div>
            

            <!-- Submit Button -->
            <button
              type="submit"
              class="w-full bg-indigo-600 text-white py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:bg-indigo-700 transition duration-150"
            >
              Sign Up
            </button>
          </form>

          <!-- Sign In Link -->
        </div>
      </div>
    </div>
    <!-- end grid -->
  </div>

  <!-- end container -->
</section>
