<lib-toastify-toast-container></lib-toastify-toast-container>

<section class="">
  <div class="p-4 md:p-8">
    <div class="grid lg:grid-cols-2 gap-2 max-w-full">
      <div class="text-carbon p-4">
        <p
          class="text-3xl font-bold leading-tight md:text-4xl lg:font-bold mb-4"
        >
          Long Term Tutoring
        </p>
        <div class="max-w-2xl mb-4">
          <h4 class="mb-2 text-[18px] md:text-[18 px]/relaxed">
            Long-Term Live tutoring focuses on flexible learning options,
            allowing students to learn at their own pace and schedule. This is
            particularly beneficial for working professionals, individuals with
            busy schedules, or those who prefer self-paced learning.
          </h4>
        </div>

        <div class="relative rounded-xl overflow-hidden my-6">
          <img
            ngSrc="/young-student.png"
            width="600"
            height="600"
            alt=""
            class="max-w-full h-full"
          />
        </div>
      </div>
      <!-- end grid-col -->

      <div class="bg-white rounded-lg h-fit border-1">
        <!-- Alert -->

        <div class="p-4">
          <form [formGroup]="formData" (ngSubmit)="submit()">
            <div class="grid grid-cols-1 space-x-2 md:grid-cols-2">
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >First Name</label
                >
                <input
                  formControlName="first_name"
                  type="text"
                  id="fname"
                  name="fname"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                  placeholder="First name"
                />
              </div>

              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Last Name</label
                >
                <input
                  formControlName="last_name"
                  type="text"
                  id="name"
                  name="name"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Last name"
                />
              </div>
            </div>

            <div class="grid grid-cols-1 space-x-2 md:grid-cols-2">
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Email</label
                >
                <input
                  formControlName="email"
                  type="email"
                  id="name"
                  name="name"
                  class="w-full px-4 ring-0 active:ring-0 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Email"
                />
              </div>

              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Phone</label
                >
                <input
                  formControlName="phone_number"
                  type="text"
                  id="name"
                  name="name"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Phone"
                />
              </div>
            </div>

            <label for="name" class="text-carbon text-md font-medium mb-1"
              >Country Of Residence</label
            >
            <lib-country-list
              (onCountryChange)="onCountryChange($event)"
              class="border border-carbon"
            ></lib-country-list>
            <!-- Email Field -->
            <div class="grid mb-2 grid-cols-1 md:grid-cols-3">
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Age</label
                >
                <select
                  formControlName="age"
                  class="p-2 w-full text-carbon focus:border-carbon active:border-carbon focus:ring-0"
                >
                  <option value="" disabled selected>Age Range</option>
                  @for(age of ages; track age){
                  <option value="{{ age }}">{{ age }}</option>

                  }
                </select>
              </div>
              <div class="mb-4 w-full mx-2">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Level of Education</label
                >
                <select
                  formControlName="education"
                  class="p-2 w-full text-carbon focus:border-carbon active:border-carbon focus:ring-0"
                >
                  <option value="" disabled selected>
                    Select Education Level
                  </option>
                  @for(level of educationList; track level){
                  <option value="{{ level }}">{{ level }}</option>

                  }
                </select>
              </div>
              <div class="w-full mx-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Days Available</label
                >
                <!-- Select -->
                <select
                  formControlName="days_available"
                  multiple=""
                  data-hs-select='{
  "placeholder": "Select Days",
  "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
  "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative py-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border border-gray-500 text-start text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 :bg-neutral-900 :border-neutral-700 :text-neutral-400 :focus:outline-none :focus:ring-1 :focus:ring-neutral-600",
  "dropdownClasses": "mt-2 z-50 w-full max-h-72 p-1 space-y-0.5 bg-white border overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 :[&::-webkit-scrollbar-track]:bg-neutral-700 :[&::-webkit-scrollbar-thumb]:bg-neutral-500 :bg-neutral-900 :border-neutral-700",
  "optionClasses": "py-2 px-4 w-full text-sm text-gray-800 cursor-pointer hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 :bg-neutral-900 :hover:bg-neutral-800 :text-neutral-200 :focus:bg-neutral-800",
  "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-blue-600 :text-blue-500 \" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>",
  "extraMarkup": "<div class=\"absolute top-1/2 end-3 -translate-y-1/2\"><svg class=\"shrink-0 size-3.5 text-gray-500 :text-neutral-500 \" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m7 15 5 5 5-5\"/><path d=\"m7 9 5-5 5 5\"/></svg></div>"
}'
                  class="hidden"
                >
                  <option value="">Choose</option>
                  <option>Sunday</option>
                  <option>Monday</option>
                  <option>Tuesday</option>
                  <option>Wendnesday</option>
                  <option>Thursday</option>
                  <option>Friday</option>
                  <option>Saturday</option>
                </select>
                <!-- End Select -->
              </div>
            </div>
            <div class="grid grid-cols-1 space-x-2 md:grid-cols-2">
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Subject</label
                >
                <select
                  formControlName="subject"
                  class="p-2 w-full text-carbon focus:border-carbon active:border-carbon focus:ring-0"
                >
                  <option value="" disabled selected>Select Subject</option>
                  @for(subject of subjects; track subject){
                  <option value="{{ subject }}">{{ subject }}</option>

                  }
                </select>
              </div>

              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Topic</label
                >
                <input
                  formControlName="topic"
                  type="text"
                  id="topic"
                  name="topic"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Topic"
                />
              </div>
            </div>
            <!-- Password Field -->
            <div class="grid grid-cols-1 space-x-2 md:grid-cols-3">
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Start Date</label
                >
                <input
                  type="date"
                  id="sdate"
                  fromControlName="start_date"
                  name="sdate"
                  class="w-full px-4 ring-0 active:ring-0 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Start Date"
                />
              </div>

              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >End Date</label
                >
                <input
                  type="date"
                  id="edate"
                  formControlName="end_date"
                  name="edate"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                  placeholder="Phone"
                />
              </div>
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-carbon text-md font-medium mb-1"
                  >Time</label
                >
                <input
                  fontControlName="time"
                  type="time"
                  id="time"
                  name="time"
                  class="w-full px-4 py-2 focus:outline-none focus:border-carbon"
                />
              </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="mb-4">
              <label
                for="confirmPassword"
                class="block text-gray-600 text-sm font-medium mb-1"
                >Message</label
              >
              <textarea
                type="text"
                id="confirmPassword"
                formControlName="message"
                name="confirmPassword"
                class="w-full px-4 py-2 focus:outline-none focus:border-indigo-500"
                placeholder="Write us a message........"
              ></textarea>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="w-full translate active:scale-75 bg-carbon text-white py-2 rounded-sm hover:bg-gray-400 focus:outline-none transition duration-150"
            >
              @if(isLoading){
              <svg
                aria-hidden="true"
                role="status"
                class="inline w-4 h-4 me-3 text-white animate-spin"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                  fill="#E5E7EB"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                />
              </svg>
              } Send Message
            </button>
          </form>

          <!-- Sign In Link -->
        </div>
      </div>
    </div>
    <!-- end grid -->
  </div>

  <!-- end container -->
</section>
