

<div class="mx-6 md:mx-44 ">

  <section class="lg:py-8 py-6 relative ">
    <div class="container">
        <div class="grid lg:grid-cols-2 items-center gap-1">
                <div class=" mb-10">
                    <p class="text-4xl/snug text-carbon md:text-6xl/snug font-semibold mb-4">About Us</p>

                    <p class="text-[20px]/relaxed text-carbon md:text-justify">ASAP has revolutionized means of assisting students in research, projects,
                      assignments and more. We have outstanding tutors who are readily available
                      and are willing to impact knowledge . ASAP's main goal is to use the
                      internet to build, teach and provide quick solutions to complex problems.
                      Academics' special assistance portal thrives to provide our customers with
                      quality, satisfaction and professionalism.</p>
                </div>
                <div class="relative">
                  <img src="/hero-2-img.png" alt="">
              </div>
        </div><!-- end grid -->
    </div><!-- end container -->
</section>

<section class="lg:py-16 py-6">
  <div class="relative lg:before:absolute lg:before:content-[''] before:start-0 before:end-1/3 before:bottom-0 before:top-0 before:rounded-e-[50px] lg:before:border lg:before:border-s-0 before:border-primaryColor">
      <div class="container">
          <div class="grid lg:grid-cols-2 items-center gap-16">
              <div class="space-y-16 lg:py-16">
                  <div class="flex items-start relative gap-6">
                      <div class="absolute start-6 top-0">
                          <div class="w-28 h-28 rounded-xl bg-primaryColor/5 rotate-45"></div>
                      </div>
                     <div class="flex-shrink">
                          <div class="w-14 h-14 rounded-xl bg-primaryColor/20 rotate-45"></div>
                      </div>
                      <div class="flex-grow -ms-10 mt-4">
                          <p class="relative z-10 text-primaryColor text-2xl font-medium mb-7">QUALITY</p>
                          <p class="text-base/relaxed md:text-justify">We recruit the lecturers and tutors who are best at what they teach. Each course on the platform will be supported by active tutors who are ready provide answers to frustrated students. Moreover, the platform is a self rated portal that rates tutors based on customers' satisfaction. This will ensure that answers provided will be accurate.</p>
                      </div>
                  </div>
                  <div class="flex items-start relative gap-6">
                    <div class="absolute start-6 top-0">
                        <div class="w-28 h-28 rounded-xl bg-primaryColor/5 rotate-45"></div>
                    </div>
                   <div class="flex-shrink">
                        <div class="w-14 h-14 rounded-xl bg-primaryColor/20 rotate-45"></div>
                    </div>
                    <div class="flex-grow -ms-10 mt-4">
                        <p class="relative z-10 text-primaryColor text-2xl font-medium mb-7">SATISFACTION</p>
                        <p class="text-base/relaxed md:text-justify">The portal has one-on-one live tutorials on each course. It's an efficient and effective way to get access directly to a subject matter experts that helps you learn complex concepts. Long term projects, research and assignments will no more be a burden.</p>
                    </div>
                </div>
                <div class="flex items-start relative gap-6">
                  <div class="absolute start-6 top-0">
                      <div class="w-28 h-28 rounded-xl bg-primaryColor/5 rotate-45"></div>
                  </div>
                 <div class="flex-shrink">
                      <div class="w-14 h-14 rounded-xl bg-primaryColor/20 rotate-45"></div>
                  </div>
                  <div class="flex-grow -ms-10 mt-4">
                      <p class="relative z-10 text-primaryColor text-2xl font-medium mb-7">PROFESSIONALISM</p>
                      <p class="text-base/relaxed md:text-justify">We provide and encourage good judgement, polite behavior and ethics to our customers. we will continue to respond to request promptly and get the work done on time. Your satisfaction is our top most priority.</p>
                  </div>
              </div>


              </div><!-- end grid-cols -->

              <div class="relative pb-44">
                  <div class="inline-flex relative gap-3">
                      <img src="/update-1.png" class="rounded-2xl">

                      <div class="absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2">
                          <button class="w-18 h-18 bg-primaryColor rounded-full flex items-center justify-center">
                              <i class="ph-fill ph-play text-2xl text-white"></i>
                          </button>
                      </div>
                  </div>

                  <div class="lg:absolute bottom-0 end-0 ">
                      <img src="/update-2.png" class="rounded-2xl border borde-2 border-primaryColor w-full">
                  </div>
              </div><!-- end grid-cols -->
          </div><!-- end grid -->
      </div><!-- end container -->
  </div>
</section>

</div>
<section class="lg:py-16 py-6 relative bg-primaryColor/30">
  <div class="container px-10 md:px-44">
          <p class="text-xl font-semibold">
            “Education Is The
              <span class="text-primaryColor">Passport To The Future,</span>
              For Tomorrow Belongs To Those Who Prepare For It Today.” —Malcolm X
          </p>
  </div><!-- end container -->
</section>

<section class="lg:py-32 py-6 relative  mx-6 md:mx-44">
  <div class="container">
    <div class="grid lg:grid-cols-2 items-center gap-10">
      <div >
        <img src="/prideintegrity.png" class="h-96 block rounded-md" alt="" />
      </div>
      <div>
        <p class="text-4xl text-carbon font-semibold mb-6">
          Academic Integrity
        </p>

        <p class="text-lg text-carbon mb-6">
          We pride ourselves on academic integrity. students are required to accept and conform to our academic integrity terms during sign up process. This ensures high- quality learning, honesty and ethical behavior in academic pursuit. Asap studies also provides access to a wide range of qualified tutors, including subject matter experts and specialized instructors. Students can benefit from the knowledge and expertise of tutors who may not be available locally. ASAP studies can be particularly beneficial for exam preparation. Tutors can help students review key concepts, provide practice materials, and offer strategies to improve test-taking skills. This targeted preparation can enhance confidence and performance during exams.
        </p>

      </div>

    </div>
  </div>
</section>
