<div 
  class="w-full hidden hover:cursor-pointer lg:flex justify-center items-center h-12 bg-gradient-to-r from-primaryColor to-secondaryColor text-white p-2"
>
  <div class="grid  grid-cols-2 lg:grid-cols-5 ">
    <div>
        <img height="40" width="40" src="/special/special_offer.gif" />
    </div>
    <h1 class="text-2xl font-bold">Special Offer!</h1>
    <div class="text-lg">
      Ask a question for <span class="text-yellow-300 font-bold">100% FREE</span> 
    </div>
    <div class="sm:text-sm mx-4">
      <p class="mt-0.5">Valid until <span class="font-bold">January 21, 2023</span></p>
      
    </div>
    <div class="ml-auto">
        <a href="#links " class=" bg-primaryColor rounded-full text inline-block bg-primary p-2 text-sm leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong hover:cursor-pointer hover:bg-carbon"
 >Download Now</a>
    </div>
  </div>
</div>

<div class="w-full block md:hidden h-14">
  <img ngSrc="/special/asap_special.png" width="400" height="300" />
</div>